.state-currency {
    margin-top: 1.25rem;

    &__inner {
        display: flex;
        gap: 1rem;
    }

    &__values {
        display: flex;
        align-items: center;
        gap: rem(22);
        padding: rem(6) 1rem;
        background-color: $bg-light-green;
        border-radius: rem(6);
    }

    &__value {
        margin-bottom: 0;
        font-size: 2.25rem;
        line-height: 3.0625rem;
        font-weight: 700;
    }

    &__value-percent {
        display: flex;
        align-items: center;
        letter-spacing: .3px;
        font-size: 1.3125rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: $green;
    }

    &__time {
        display: flex;
        gap: rem(10);
        color: $dark-light;

        a {
            display: inline-block;
            margin-top: rem(6);
            border-bottom: 1px dotted $gray-600;

            &:hover {
                border-color: transparent;
            }
        }
    }

    &__changes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: auto;

        li {
            display: flex;
            align-items: center;
        }

        .title {
            width: rem(100);
            margin-right: 1rem;
            color: $dark-light;
        }

        .value-1, .value-2 {
            font-size: 1rem;
            line-height: rem(22);
            letter-spacing: .2px;
            font-weight: 600;
        }

        .progress {
            position: relative;
            width: rem(339.5);
            height: 1px;
            margin: 0 rem(6);
            background-color: $gray-300;

            &-red {
                .progress__inner {
                    left: auto;
                    right: 0;
                    background: $red;

                    &:before {
                        left: auto;
                        right: 100%;
                        margin-right: rem(-2);
                        margin-left: auto;
                        background: url("../images/icons/icons.svg#progress-arrow-left") no-repeat;
                    }
                }
            }

            &__inner {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: $green;

                &:before {
                    content: '';
                    position: absolute;
                    left: 100%;
                    margin-left: rem(-2);
                    top: 50%;
                    transform: translateY(-50%);
                    width: rem(10);
                    height: rem(10);
                    background: url("../images/icons/icons.svg#progress-arrow-right") no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}


.currency-detailed-information {
    margin-top: rem(30);
    padding: 1rem 0;
    background-color: $gray-100;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }

    &__tabs {
        display: flex;
        gap: rem(3);

        button {
            padding: rem(5) rem(9.6);
            line-height: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $gray-500;
            border: 1px solid transparent;
            border-radius: 50px;

            &:hover, &.active {
                color: $blue;
            }

            &.active {
                padding-left: rem(15);
                padding-right: rem(15);
                background: rgba(44, 100, 235, 0.07);
                border-color: rgba(44, 100, 235, 0.35);
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        gap: rem(22);
        font-size: rem(11);
        line-height: 163.636%;
        color: $dark-light;

        a:hover {
            color: $blue;
        }
    }

    .swiper-wrapper {
        gap: rem(10);
    }

    &-item {
        flex: 1;
        max-width: 20%;
        display: flex;
        align-items: center;
        gap: rem(10);
        padding: rem(9);
        background-color: $white;
        border: 1px solid $gray-300;
        border-radius: rem(10);

        &:has(.status-red) .content .percent {
            color: red;
        }

        .status {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(40);
            height: rem(40);
            border-radius: rem(6);
            background-color: $bg-light-green;

            &-red {
                background-color: rgba(204, 82, 73, 0.07);
            }
        }

        .content {
            flex-grow: 1;
            font-weight: 600;

            & > * {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: rem(6);

                &:last-child {
                    & > *:last-child {
                        font-weight: 400;
                    }
                }
            }

            .title {
                color: $dark-light;
            }

            .value {
                font-size: rem(18);
                line-height: 1.5rem;
            }

            .percent {
                color: $green;
            }
        }
    }

    .tabs-content {
        width: 100%;
    }
}

.forecasts {
    margin-top: 30px;

    &__tabs {
        display: flex;
        position: relative;
        margin-bottom: 30px;

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 1px;
            width: 100%;
            border-top: 1px solid #DFDFE0;
        }

        button {
            padding: 0 16.4px rem(10);
            font-size: 1rem;
            line-height: 1.75;
            font-weight: 600;
            border-bottom: 3px solid transparent;

            &:hover, &.active {
                color: $green;
            }

            &.active {
                border-color: $green;
            }
        }
    }

    &__inner {
        display: flex;
        gap: rem(30);
    }

    &__content {
        flex-grow: 1;
        width: calc(100% - 18.75rem);
    }
}

.converter {
    padding: rem(29) rem(29) 1.5rem;
    background-color: $white;
    border-width: 1px 1px rem(5) 1px;
    border-style: solid;
    border-color: $light-green;
    border-radius: .75rem;

    &__form {
        padding: rem(15);
        background-color: $gray-200;
        border: 1px solid $gray-300;
        border-radius: rem(6);
    }

    &__form-fields {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: rem(13);
    }

    &__form-group {
        display: flex;
        flex-grow: 1;
        max-width: calc(50% - 36px);
        &:has(.choices.is-open) .converter__form-input {
            border-color: $blue;
        }
    }

    &__swap, &__form-input, &__form-select {
        height: rem(44);
        background-color: $white;
        border: 1px solid $gray-300;
    }

    &__form-input {
        flex-grow: 1;
        padding: 0 1rem 0 rem(15);
        font-size: 1rem;
        border-radius: .25rem 0 0 .25rem;
        border-right: none;
        &:focus + .choices .choices__inner {
            border-color: $blue;
        }
    }

    &__form-select {
        flex-shrink: 0;
        padding: 0 rem(15) 0 1rem;
        font-weight: 600;
        color: $gray-500;
        appearance: none;
        border-left: none;
        border-radius: 0 .25rem .25rem 0;
    }
    .choices {
        &.is-open .choices__inner {
            border-color: $blue;
        }
        &[data-type*=select-one] {
            &:after {
                display: none;
            }
            .choices__inner {
                padding-bottom: 0;
                transition: border-color .3s;
            }
        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 rem(15) 0 1rem;
            text-align: center;
            font-weight: 600;
            background: $white;
            border-color: $gray-300;
            border-left: none;
            border-radius: 0 .25rem .25rem 0;
        }
        &__list--single {
            padding: 0;
        }
        &__list--dropdown .choices__item {
            padding: 10px 0 !important;
            text-align: center;
            font-weight: 500;
            &--selectable {
                padding-right: 0;
            }
        }
    }

    &__swap {
        width: rem(40);
        height: rem(40);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: $gray-400;
        border-radius: rem(6);
        &:hover {
            color: $blue;
        }
    }

    &__info-list {
        margin-top: 30px;
        margin-bottom: -10px;
        column-count: 2;
        column-gap: 50px;
        break-inside: avoid;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5.5px;
            border-bottom: 1px solid $gray-300;
            margin-bottom: rem(10);
        }

        span {
            &:first-child {
                color: rgba(0, 0, 0, 0.7);
            }

            &:last-child {
                font-size: 1rem;
                line-height: rem(22);
                font-weight: 600;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .btn {
            width: 370px;
        }

        .ad-container {
            display: flex;
            align-items: center;
            gap: rem(6);
            margin-top: rem(5);
            font-size: .75rem;
            line-height: rem(14);
            color: rgba(0, 0, 0, 0.75);
        }
    }
}

.user-content-list-info {
    padding: rem(18);
    border: 3px solid #DAEBD8;
    border-radius: rem(10);

    li {
        display: flex;
        gap: rem(22);
        font-size: 1rem;
        line-height: rem(22);

        &:not(:last-child) {
            margin-bottom: 1rem;
            padding-bottom: rem(15);
            border-bottom: 1px solid #E1E1E1
        }
        & > *:last-child {
            align-self: center;
        }
    }

    .number {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        position: relative;
        font-family: Bloggersansbold, sans-serif;
        font-size: rem(15);
        line-height: 1.25rem;
        font-weight: bold;
        color: $green;
        background-color: rgba(113, 178, 25, 0.1);
        border-radius: rem(5);

        &:before {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            border: 2px solid $green;
            border-radius: 50%;
        }
    }
}

.user-content-list-info-2 {
    display: flex;
    margin: 0 -5px;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33.33% - .625rem);
        margin: 0 rem(5);
        padding-top: 1rem;
        text-align: center;
        border: 1px solid rgba(41, 46, 51, 0.25);
        border-radius: rem(10);
        overflow: hidden;

        &:nth-child(1) {
            border-color: rgba(83, 145, 0, 0.25);
        }

        &:nth-child(2) .title {
            color: $red;
            background: rgba(204, 82, 73, 0.07);
        }

        &:nth-child(3) .title {
            color: #292E33;
            background: rgba(41, 46, 51, 0.07);
        }

        & > * {
            padding-left: rem(15);
            padding-right: rem(15);
        }
    }

    .title, .tag {
        font-size: rem(18);
        font-weight: 600;
    }

    .title {
        margin-bottom: rem(6);
        padding: rem(6) 1rem;
        line-height: 1.5rem;
        color: $green;
        border-radius: rem(9);
        background-color: rgba(113, 178, 25, 0.07);
    }

    .text {
        margin-bottom: rem(10);
        font-size: 1rem;
        line-height: rem(26);
    }

    .tag {
        width: 100%;
        padding-top: rem(6);
        padding-bottom: rem(5);
        line-height: rem(30);
        background-color: $gray-200;
    }
}

.note {
    padding: 1rem;
    border-left: rem(5) solid #2C64EB;
    background-color: #F4F7FE;

    p:not(:last-child) {
        margin-bottom: rem(10) !important;
    }

    .link {
        display: inline-flex;
        align-items: center;
        gap: rem(6);
        padding: rem(6) 1rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: rem(25);
        color: $blue;
        background-color: rgba(44, 100, 235, 0.05);
        border-radius: rem(10);

        &:hover {
            background-color: rgba(44, 100, 235, 0.15);
        }
    }
}

.sidebar {
    flex-shrink: 0;
    width: rem(270);

    & > li {
        padding: 1rem rem(15) rem(15);
        border: 1px solid rgba(225, 225, 225, 1);
        border-radius: rem(10);

        &:not(:last-child) {
            margin-bottom: rem(30);
        }

        &:has(.sidebar__log-term-forecast) {
            h3 {
                margin-bottom: rem(38);
            }

            .sidebar__tabs-list {
                margin-bottom: rem(17);
            }
        }

        h3 {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            column-gap: rem(6);
            margin-bottom: rem(44);

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: rem(40);
                margin-top: rem(19);
                border-bottom: rem(5) solid rgba(0, 0, 0, 0.7);
            }

            .text-green, .text-red {
                display: flex;
                align-items: center;
                gap: rem(2);
            }
        }
    }

    .banner {
        position: relative;
        text-align: center;

        .ad {
            position: absolute;
            top: rem(6);
            right: rem(6);
        }

        .title {
            margin-top: rem(22);
            font-size: rem(25);
            font-weight: bold;
            line-height: rem(35);
            color: $light-green;
        }

        .text {
            margin-top: rem(6);
            font-size: 1rem;
            line-height: rem(22);
            color: rgba(0, 0, 0, 0.7);
        }

        .btn {
            width: 100%;
            margin-top: rem(22);
        }

        .text-footer {
            margin-top: rem(6);
            font-size: .75rem;
            line-height: rem(14);
            color: rgba(0, 0, 0, 0.75);
        }
    }

    &__tabs-list {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: rem(22);

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 1px;
            width: 100%;
            border-top: 1px solid #dfdfe0;
        }

        button {
            padding-bottom: rem(2);
            font-size: .75rem;
            line-height: 1.5rem;
            font-weight: 600;
            color: $gray-500;
            border-bottom: rem(3) solid transparent;

            &.active, &:hover {
                color: $green;
            }

            &.active {
                border-color: $green;
            }
        }
    }

    .sidebar__top-list {
        li {
            display: flex;
            line-height: rem(25);
            font-weight: 600;
            color: rgba(0, 0, 0, 0.7);
            border: 1px solid #FAC71E;
            border-radius: rem(6);
            overflow: hidden;

            &:not(:last-child) {
                margin-bottom: rem(6);
            }

            &:nth-child(2) {
                border-color: rgba(192, 200, 208, 1);

                .number {
                    background-color: rgba(192, 200, 208, 0.15);
                }
            }

            &:nth-child(3) {
                border-color: $orange;

                .number {
                    background-color: rgba(252, 161, 110, 0.15);
                }
            }

            & > * {
                padding: rem(5) 0;
            }
        }

        .number, .link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(29);
        }

        .number {
            margin-right: rem(10);
            background: rgba(250, 199, 30, 0.15);
        }

        .title, .percent {
            align-self: center;
        }

        .title {
            min-width: rem(80);
            margin-right: rem(6);
        }

        .percent {
            margin-right: rem(6);
            color: $green;

            &-red {
                color: $red;
            }
        }

        .link {
            margin-left: auto;

            &:hover {
                color: $blue;
                background-color: $gray-100;
            }
        }
    }

    .sidebar__log-term-forecast {
        margin-left: rem(-15);
        margin-right: rem(-15);
        font-weight: 600;

        li {
            display: flex;
            gap: rem(3);
            padding: rem(10) rem(15);

            &:nth-child(odd) {
                background-color: $gray-100;
            }
        }

        .title {
            min-width: rem(79);
            color: rgba(0, 0, 0, 0.7);
        }

        .status {
            margin-left: auto;
            color: $green;

            &-red {
                color: $red;
            }
        }
    }

    &__footer-text {
        padding-top: 1rem;
        font-size: .75rem;
        line-height: rem(16.2);
        color: rgba(0, 0, 0, 0.75);
    }
}

@media (max-width: $device) {
    .state-currency {
        &__inner {
            flex-wrap: wrap;
            row-gap: 1.5rem;
        }
        &__changes {
            width: 100%;
        }
    }
}

@media (max-width: $device) {
    .currency-detailed-information {
        .swiper-wrapper {
            gap: initial;
        }

        &-item {
            flex: 0 0 auto;
            max-width: initial;
            width: rem(226);
        }
    }
    .converter__form-input {
        width: calc(100% - 50px);
    }
    .converter .choices__inner {
        width: 50px;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .forecasts__inner {
        gap: 1.25rem;
    }
    .forecasts__content {
        width: calc(100% - 16.25rem);
    }
    .sidebar {
        width: rem(240);
        .banner {
            .title {
                font-size: rem(21);
            }
            .text {
                font-size: rem(14);
                line-height: rem(19);
            }
        }
    }
}

@media (max-width: 991px) {
    .converter {
        padding: rem(15);
        border-width: 1px 1px rem(6);
        &__form-fields {
            position: relative;
            flex-direction: column;
            gap: .75rem;
            margin-top: .75rem;
        }
        &__form-group {
            max-width: initial;
            width: 100%;
        }
        &__form-input {
            padding: 0 rem(10) 0 rem(9);
        }
        &__form-select {
            padding: 0 rem(9) 0 rem(10);
        }
        &__swap {
            position: absolute;
            top: rem(30);
            left: 50%;
            transform: translateX(-50%);
        }
        &__info-list {
            column-count: 1;
            margin-top: 1rem;
            li {
                padding-bottom: rem(5);
            }
            span:last-child {
                font-size: rem(14);
                line-height: rem(19);
            }
        }
        &__footer {
            margin-top: 1rem;
            .ad-container {
                margin-top: rem(6);
            }
        }
    }
    .user-content-list-info {
        padding: rem(13);
        li {
            align-items: flex-start;
            gap: 1rem;
            font-size: rem(14);
            line-height: rem(19);
        }
    }
    .user-content-list-info-2 {
        flex-direction: column;
        gap: rem(10);
        margin: 0;
        li {
            width: 100%;
            margin: 0;
        }
        .title {
            margin-bottom: rem(5);
            font-size: 1rem;
            line-height: rem(21);
        }
        .text {
            width: rem(318);
            max-width: 100%;
            font-size: rem(14);
            line-height: rem(23.5);
        }
    }
}

@media (max-width: $mobile) {
    .state-currency {
        margin-top: 1rem;
    }
    .state-currency__inner {
        display: none;
    }
    .currency-detailed-information {
        margin-top: 0;
        &__inner {
            gap: initial;
        }
        &-item {
            width: rem(192);
            .content .value {
                font-size: 1rem;
                line-height: rem(22);
            }
        }
        .socials {
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 1rem;
        }
    }
    .choices:has(.select-mobile) {
        width: 100%;
        margin-bottom: rem(10);

        &[data-type*=select-one]::after {
            border: none;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            background: url("../images/icons/icons.svg#select-mobile-arrow") no-repeat;
            width: .75rem;
            height: .75rem;
            margin-top: 0;
        }

        &[data-type*=select-one].is-open::after {
            margin-top: 0;
            transform: translateY(-50%) rotate(-180deg);
        }

        .choices__inner {
            min-height: auto;
            padding: rem(5) rem(35) rem(5) rem(15);
            line-height: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $gray-500;
            background-color: $white;
            border: 1px solid $gray-300;
            border-radius: rem(4);
        }

        .choices__list--single {
            padding: 0;
        }

        .choices__list--dropdown {
            z-index: 2;
            .choices__item {
                line-height: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $gray-500;
            }
        }
    }
    .converter__form-input {
        font-size: rem(14);
    }
    .forecasts {
        margin-top: 1.25rem;
        &__tabs {
            margin-left: -1.25rem;
            margin-bottom: 1.25rem;

            .swiper-slide {
                width: auto;
            }
            button {
                font-size: rem(14);
            }
        }
        &__content {
            width: 100%;
        }
    }
    .sidebar {
        display: none;
    }
    .note .link {
        padding: rem(6) rem(10);
        font-size: rem(14);
    }
}

@media (max-width: 359px) {
    .converter {
        padding: .75rem;
        &__form {
            padding: .75rem;
        }
    }
}