<div class="header-top">
    <div class="container">
        <div class="header-top__inner">
            <h1 class="header-top__title">Online Trading Starts Here</h1>

            <a href="/" class="header-top__logo">
                <img src="images/logo.png" width="130" height="43" alt="Traders Union">
            </a>

            <div class="header-top__buttons">
                <button class="btn btn-light">Sign In</button>
                <button class="btn">Register</button>
            </div>
        </div>
    </div>
</div>

<div class="header-bottom">
    <div class="container">
        <div class="header-bottom__inner">

            <nav class="header-bottom__menu">
                <ul>
                    <li>
                        <a href="#">BEST BROKERS</a>
                    </li>
                    <li>
                        <a href="#">TRADING GUIDES</a>
                    </li>
                    <li>
                        <a href="#">BROKER REVIEWS</a>
                    </li>
                    <li>
                        <a href="#">PRICE PREDICTIONS</a>
                    </li>
                    <li>
                        <a href="#">BROKERS BY COUNTRIES</a>
                    </li>
                    <li>
                        <a href="#">WHO WE ARE</a>
                    </li>
                </ul>
            </nav>

            <div class="header-bottom__buttons">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search__btn" aria-label="search">
                    <svg width="20" height="20">
                        <use href="/images/icons/icons.svg#search"></use>
                    </svg>
                </button>
                <button class="language__btn" aria-label="language">
                    <svg width="18" height="18">
                        <use href="/images/icons/icons.svg#lang"></use>
                    </svg>
                </button>
                <button class="mobile-menu__btn hide-tablet" aria-label="open menu">
                    <svg width="18" height="18">
                        <use href="/images/icons/icons.svg#hamburger"></use>
                    </svg>
                </button>
                
                <div class="language">
                    <ul>
                        <li>
                            <a class="active" href="#en">English</a>
                        </li>
                        <li>
                            <a href="#ru">Russian</a>
                        </li>
                        <li>
                            <a href="#uk">Ukraine</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>