// breakpoint

$sx: 320px;
$sm: 375px;
$mobile: 767px;
$tv: 768px;
$th: 992px;
$device: 1199px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;

// font
$font-family: "Open Sans", sans-serif;
$font-size: .875rem;
$line-height: 19px;
$font-weight: 400;


// colors

$dark: #000;
$dark-light: rgba(0,0,0, .7);

$gray-600: #404040;
$gray-500: #4F4F4F; //#494B49, rgba(143, 135, 131, 0.48), #8F87837A
$gray-400: #455A64;
$gray-300: #D3D3D4; // #E1E1E1, #DFDFE0
$gray-200: #F0F1F2;
$gray-100: #F9F9F9;


$green: #539100;
$light-green: #71B219;
$bg-light-green: rgba(83, 145, 0, 0.07);

$white: #fff;

$blue: #1873EB;

$red: #CC5249;

$orange: #FCA16E;

$purple: #9C4FFF;